.discover {
  h2 {
    padding-bottom: 10px;
  }
  p {
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 30px;
  }
  span {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
  }
}
.imgdiv {
  img {
    border-radius: 10px;
    margin-bottom: 15px;
  }
}
