header {
  background: black;
  color: white;
}

.brandlogo {
  width: 10%;
}

.stay-experience nav ul li a {
  color: white;
  font-size: 18px;
  font-weight: 300;
  margin: 0 20px;
  &:hover {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    font-weight: 500;
  }
}
.login {
  width: 25%;
}
.login-div {
  background: white;
  width: 20%;
  padding: 5px 5px;
  border: 1px solid;
  border-radius: 22px;
}
.login div span {
  padding: 10px 5px;
  border-radius: 30px;
  cursor: pointer;
  &:hover {
    background: gray;
    transition: 0.5s;
  }
}
.globe {
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  &:hover {
    background: gray;
    transition: 0.5s;
  }
}
