.anywhere {
  span {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 500;
  }
  img {
    border-radius: 5px;
    &:hover {
      width: 105%;
      transition: 0.2s cubic-bezier(0.77, 0, 0.175, 1);
    }
  }
}
